<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC">
    <output-path>$PROJECT_DIR$/spring05-springMVC/artifacts</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring05-springMVC/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring05-springMVC" />
        </element>
      </element>
    </root>
  </artifact>
</component>